@using QLCUNL.Models
@model QLCUNL.Models.User

@{
    ViewData["Title"] = "Chỉnh sửa";
    var default_setting = (UserSetting)ViewBag.default_setting;
    if (default_setting == null)
        default_setting = new UserSetting();
}
<h4>Cập nhật người dùng</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group" style="display:none;">
            <label asp-for="id_user" class="control-label">Id</label>
            <input asp-for="id_user" readonly class="form-control" id="id_user" />
            <span asp-validation-for="user_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user_name" class="control-label">Tên đăng nhập</label>
            <input asp-for="user_name" readonly class="form-control" id="user_name" />
            <input class="d-none form-control" id="password" />

            <span asp-validation-for="user_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="full_name" class="control-label">Họ tên</label>
            <input asp-for="full_name" class="form-control" id="full_name" />
            <span asp-validation-for="full_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="email" class="control-label">Email</label>
            <input asp-for="email" class="form-control" id="email" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="id_team" class="control-label">ID Team</label>
            <select asp-for="id_team" class="form-control" id="id_team">
                <option value="0">--Chọn từ danh sách--</option>
                @if (ViewBag.list_team != null)
                {
                    foreach (var item in ViewBag.list_team)
                    {
                        <option value="@item.id_team">@item.team_name</option>
                    }
                }
            </select>
            <span asp-validation-for="id_team" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-6">
        @if (User.Identity.Name == ViewBag.id && (User.IsInRole(Role.SYS_ADMIN.ToString()) || User.IsInRole(Role.APP_ADMIN.ToString())))
        {
            <div class="form-group">
                <label class="control-label"><h4>Cấu hình mặc định</h4></label>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Tiền cọc</label> <input class="form-control" type="text" id="tien_coc" value="@default_setting.tien_coc" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Bảo hành</label> <input class="form-control" type="text" id="bao_hanh" value="@default_setting.bao_hanh" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Số lần đổi</label> <input class="form-control" type="text" id="so_lan_doi" value="@default_setting.so_lan_doi" />
                    </div>
                    <div class="col-sm-12">
                        <input type="checkbox" id="tim_ung_vien_team_khac" /><label class="control-label">Tìm ứng viên trong mọi TEAM</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Trạng thái báo cáo ứng viên theo JOB </label> <select id="trang_thai_user_job_bao_cao"></select>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="type" class="control-label">Thống kê ứng viên theo JOB</label>
                        <ul class="check-box" id="trang_thai_thong_ke_ung_vien_job">
                            
                        </ul>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole(Role.SYS_ADMIN.ToString()) || User.IsInRole(Role.APP_ADMIN.ToString()))
        {
            <div class="form-group">
                <label asp-for="type" class="control-label">Role</label>
                <ul class="check-box">
                    @foreach (var item in Enum.GetValues(typeof(Role)))
                    {

                        @if ((Role)item == Role.SYS_ADMIN)
                        {
                            @if (User.IsInRole(Role.SYS_ADMIN.ToString()))
                            {
                                <li>
                                    <input type="checkbox" name="role" value="@Enum.GetName(typeof(Role),item)">
                                    @Enum.GetName(typeof(Role), item)
                                </li>
                            }
                        }
                        else
                        {
                            <li>
                                <input type="checkbox" name="role" value="@Enum.GetName(typeof(Role),item)">
                                @Enum.GetName(typeof(Role), item)
                            </li>
                        }

                    }
                </ul>
            </div>
            <div class="form-group">
                <label asp-for="trang_thai" class="control-label">Trạng thái</label>
                <select asp-for="trang_thai" asp-items="@Html.GetEnumSelectList<TrangThai>()" class="form-control"></select>
            </div>
            @if (User.IsInRole(Role.SYS_ADMIN.ToString()))
            {
                <div class="form-group">
                    <label asp-for="app_id" class="control-label">APP ID</label>
                    <input asp-for="app_id" class="form-control" id="app_id" />
                </div>
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="button" value="Cập nhật" class="btn-size btn btn-primary" onclick="onUpdate()" />
        </div>
    </div>
</div>
<div>
    <a asp-action="all">Quay lại danh sách</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    let id = "@ViewBag.id";
</script>
<script asp-append-version="true" src="~/js/user_edit.js"></script>

