@model QLCUNL.Models.UngVien

@{
    ViewData["Title"] = "Chia sẻ thông tin ứng viên";
}
<h3>Chia sẻ thông tin ứng viên</h3>
<div class="row">
    <div class="col-md-12">
        <div class="form-group" style="display:none;">
            <label asp-for="id_ung_vien" class="control-label"></label>
            <input asp-for="id_ung_vien" readonly class="form-control" id="id_ung_vien" />
            <span asp-validation-for="id_ung_vien" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="ho_ten_ung_vien" class="control-label"></label>
                    <input asp-for="ho_ten_ung_vien" readonly class="form-control" id="ho_ten_ung_vien" />
                    <span asp-validation-for="ho_ten_ung_vien" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="so_dien_thoai" class="control-label"></label>
                    <input asp-for="so_dien_thoai" readonly class="form-control" id="so_dien_thoai" />
                    <span asp-validation-for="so_dien_thoai" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" readonly class="form-control" id="email" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="dia_chi" class="control-label"></label>
            <input asp-for="dia_chi" readonly class="form-control" id="dia_chi" />
            <span asp-validation-for="dia_chi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="vi_tri_ung_tuyen" class="control-label"></label>
                    <input asp-for="vi_tri_ung_tuyen" readonly class="form-control" id="vi_tri_ung_tuyen" />
                    <span asp-validation-for="vi_tri_ung_tuyen" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="luong_mong_muon" class="control-label"></label>
                    <input asp-for="luong_mong_muon" readonly class="form-control" id="luong_mong_muon" />
                    <span asp-validation-for="luong_mong_muon" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label"><strong>Chia sẻ cho nhà tuyển dụng</strong></label>
                    <input type="text" name="id_nha_tuyen_dung" id="id_nha_tuyen_dung" class="form-control" placeholder="Email nhà tuyển dụng: tuyendung@xmedia.vn, tdung@goodcv.vn" />
                </div>
            </div>
        </div>
        <div class="form-group d-none">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">Đến ngày</label><input class="form-control" id="ngay_het" value="@DateTime.Now.AddYears(10).ToString("dd-MM-yyyy")" placeholder="dd-MM-HH" />
                </div>
                <div class="col-sm-8">
                    <label class="control-label">Quyền</label>
                    @foreach (var item in Enum.GetValues(typeof(QLCUNL.Models.Quyen)))
                    {
                        <input name="quyen" type="checkbox" value="@item" @((QLCUNL.Models.Quyen)item == QLCUNL.Models.Quyen.VIEW ? " checked disabled" : "") /> @item
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"><input type="checkbox" id="chk_all_user" />&nbsp;<strong>Chia sẻ theo tài khoản</strong></label>
            @Html.Raw(ViewBag.all_user)
        </div>
        <div class="form-group">
            <label class="control-label"><input type="checkbox" id="chk_all_team" />&nbsp;<strong>Chia sẻ theo nhóm</strong></label>

            @if (ViewBag.list_team != null)
            {
                <ul class="check-box row">
                    @foreach (var item in ViewBag.list_team)
                    {
                        <li class="col-md-4"><input type="checkbox" name="team_shared" value="@item.id_team"> @item.team_name</li>
                    }
                </ul>
            }
        </div>
        <div class="form-group">
            <input value="Chia sẻ" type="button" class="btn-size btn btn-primary" onclick="onShareUngVien('@ViewBag.id',@ViewBag.obj_type,1,1)" />
        </div>
    </div>
</div>

<div>
    <a asp-action="all">Quay lại danh sách</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    let id = "@ViewBag.id";
</script>
<script asp-append-version="true" src="~/js/ung_vien_edit.js"></script>
<script>
    $(function () {

        $("#chk_all_user").click(function () {
            $("[name='user_shared']").prop('checked', $("#chk_all_user").is(":checked"));
        });
        $("#chk_all_team").click(function () {
            $("[name='team_shared']").prop('checked', $("#chk_all_team").is(":checked"));
        });
        callAPI(`${API_URL}/@(((QLCUNL.Models.PhanQuyenObjType)ViewBag.obj_type).ToString().ToLower().Replace("_",""))/shared?id=${id}`, null, "GET", function (res) {
            if (res.success) {
                var data = res.data;
                let id_nha_tuyen_dung = [];
                data.forEach(item => {
                    let val = item.user;
                    if (item.type === 2) {
                        $(`input[name='team_shared'][value='${val}']`).prop('checked', true);
                    } else {
                        if (item.type === 1) {
                            if ($(`input[name='user_shared'][value='${val}']`).length > 0) {
                                $(`input[name='user_shared'][value='${val}']`).prop('checked', true);
                            } else {
                                id_nha_tuyen_dung.push(val);
                            }
                        }
                    }
                });
                $("#id_nha_tuyen_dung").val(id_nha_tuyen_dung.join(","));
            }
        });
    });
    function onShareUngVien(id, obj_type, type, rule) {
        try {
            let users = [];
            let id_nha_tuyen_dung = $("#id_nha_tuyen_dung").val();
            $("[name='user_shared']:checked").each(function () {
                users.push($(this).val());
            });
            let teams = [];
            $("[name='team_shared']:checked").each(function () {
                teams.push($(this).val());
            });
            if (typeof type === 'undefined') {
                type = 1;
            }
            rule = 2;
            let ngay_het = 0;

            if ($("#ngay_het").val() !== "") {
                ngay_het = toDate($("#ngay_het").val());
            }
            let quyen = [];
            $("input[name='quyen']:checked").each(function () {
                quyen.push($(this).val());
            });
            var obj = {
                'user': users, 'type': type, 'rule': rule, 'obj_type': obj_type, 'teams': teams, 'id': id, 'ngay_het': ngay_het, 'quyen': quyen, 'id_nha_tuyen_dung': id_nha_tuyen_dung
            };
            callAPI(`${API_URL}/phanquyen/share`, obj, "POST", function (res) {
                if (res.success) {
                    $.notify("Chia sẻ thông tin thành công", "success");
                } else {
                    $.notify(`Lỗi xảy ra khi chia sẻ thông tin: ${res.msg}`, "error");
                }
            });
        } catch (e) {
            console.log(`onShare ${e}`);
        }
    }
</script>

